<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Puppy Name:<%="\n#{@new_puppy.name}" %></p>
    <p>Puppy Breed:<%= "\n#{@new_puppy.breed}" %></p>
    <p>Puppy Age:<%= "\n#{@new_puppy.age}" %></p>

  </body>
</html>
